{% extends "base.html" %}

{% block body %}
<form enctype="multipart/form-data" action="/predict" method="POST">
    <p><h3>Choose the image</h3> <input type="text" name="picture_path"><br></p>
    <p></p>
    <input type="submit" id='predict' class='predict'value="Predict">
    <style>.predict {
    height:35px;
    width:100px;
    font:12pt Arial, Helvetica, sans-serif;
    text-align:center
}</style>

</form>
<hr>
<h2>Distribution of probabilities:</h2>
<h3>Cloudy: {{ prediction[0] }}</h3>
<h3>Rain: {{ prediction[1] }}</h3>
<h3>Shine: {{ prediction[2] }}</h3>
<h3>Sunrise: {{ prediction[3] }}</h3>
<h2>Predicted class:</h2>
<h3>{{ predicted_class }}</h3>
<hr>
{% end %}